extends layout

include _includes/functions

block content
    #banner.page-header
      .row
        .col-lg-12
            p
              h2= pageHeader.title
              hr.my-4
    .row
      .col-xs-12.col-md-9
        .row
          .col-xs-12.col-sm-6
            p.rating
                +outputRating(location.rating)
            p= location.address
            .card.border-primary.mb-3(style='max-width: 100%;')
              .card-header
                h4.card-title Horario de atención
              .card-body
                each time in location.openingTimes
                  p.card-text
                    | #{time.days} : 
                    if time.closed
                      | Closed
                    else
                      | #{time.opening} - #{time.closing}
                    br
            .card.border-primary.mb-3(style='max-width: 100%;')
              .card-header
                h4.card-title Instalaciones
              .card-body
                p.card-text
                  each facility in location.facilities
                    span.badge.badge-info.tags= facility
          .col-xs-12.col-sm-6.location-map
            .card.mb-3
              h4.card-header Ubicación
              img(style='height: 380px; width: 100%; display: block;', src='../images/mapa1.png', alt='Card image')
        .row
          .col-xs-12.col-lg-12
            .card.border-primary.mb-3(style='max-width: 100%;')
              .card-header
                h4.card-title Comentarios de Clientes
                  a.btn.float-right.btn-outline-primary(type='button', href='/location/review/new') Comentar
              table.table.table-hover
                each review in location.reviews
                  tr.table-primary
                    td
                      span.rating
                        +outputRating(review.rating)
                      |  
                      span.reviewAuthor
                        b= review.author
                      small.reviewTime 
                        k  
                          +formatDate(review.createdOn)
                  tr.table-secondary
                    td !{(review.reviewText).replace(/\n/g, '<br/>')}
      .col-xs-12.col-md-3
        p.lead #{location.name} #{sidebar.context}
        p= sidebar.callToAction
              