extends layout

include _includes/functions

block content
    #banner.page-header
      .row
        .col-lg-12
          p
            h2= pageHeader.title
              small.text-muted  #{pageHeader.strapline}
            hr.my-4
    .row
      .col-xs-12.col-sm-8
        .error= message
        each location in locations
          .card.text-white.bg-primary.mb-3(style='max-width: 100%;')
            a(href="/location/#{location._id}")
              h4
                .card-header 
                  | #{location.name}
                  small &nbsp;
                    +outputRating(location.rating)
                  span.badge.float-right.badge-secondary #{location.distance}
            .card-body
              p.card-text
                | #{location.address}
                br
                br
                each facility in location.facilities
                  span.badge.badge-info.tags= facility
      .col-xs-12.col-sm-4
        p.lead= sidebar
